:root {
    --c1: #FFE8B4;
    --c2: #E68457;
    --c3: #AA1C41;
    --c4: #5E244E;
}

* {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--c4);
}

.portfolio-header {
    display: flex;
    margin: 0;
    border-radius: 5px;
    background-color: var(--c3);

}

.link {
    text-decoration: none;
    color: var(--c1);
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin: 0 1%;

}

.project-link {
    text-decoration: none;
    color: var(--c1);
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}


.portfolio-header .link:hover {
    color: var(--c2);

}

.project-link:hover {
    background-color: var(--c2);

}

.portfolio-intro {
    display: flex;
    flex-direction: column;
    height: auto;
    color: var(--c1);
    font-size: 300%;
    padding-bottom: 2%;
    margin: 2% 5%;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.name {
    color: var(--c2);
}

.highlight {
    color: var(--c1);
    
  
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left:5%;
    padding-right:5%;
    margin-bottom: 5%;
}


.project-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--c3);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project-title {
    font-size: 34px;
    color: var(--c1);
    font-weight: bold;
    
}

.project-description {
    font-size: 1.1rem;
    color: var(--c2);
    width: 75%;
}

a {
    font-weight: bold;
}


.footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: var(--c1);
    
}
@media (max-width: 768px) {
    .portfolio-header {
        height: auto;
    }

    .portfolio-intro {
        height: auto;
        font-size: 200%;
        margin: 5%;
    }

    .project-card {
        padding: 10px;
    }
}
