* {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #1B262C;
}

.portfolio-header {
    display: flex;
    height: 100px;

    

}

.link {
    text-decoration: none;
    color: #BBE1FA;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;

}

.project-link {
    text-decoration: none;
    color: #3282B8;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}


.portfolio-header .link:hover {
    background-color: #3282B8;

}

.project-link:hover {
    background-color: #1B262C;

}

.portfolio-intro {
    display: flex;
    flex-direction: column;
    height: auto;
    color: #BBE1FA;
    font-size: 300%;
    padding-bottom: 2%;
    margin: 2% 20% 2%;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.highlight {
    color: #BBE1FA;
    
  
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left:5%;
    padding-right:5%;
    margin-bottom: 5%;
}


.project-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #0F4C75;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project-title {
    font-size: 34px;
    color: #BBE1FA;
    font-weight: bold;
    
}

.project-description {
    font-size: 1.1rem;
    color: #3282B8;
    width: 75%;
}

a {
    font-weight: bold;
}

hr {
    color:#BBE1FA;
}

.footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: #BBE1FA;
    
}
@media (max-width: 768px) {
    .portfolio-header {
        height: auto;
    }

    .portfolio-intro {
        height: auto;
        font-size: 200%;
        margin: 2%;
    }

    .project-card {
        padding: 10px;
    }
}
